@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(233, 47%, 7%);
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem;
    max-width: 480px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1rem;
}

picture {
    max-width: 100%;
    background-color: hsl(277, 64%, 61%);
}

picture img {
    max-width: 100%;
    display: block;
    mix-blend-mode: multiply;
}

picture, picture img {
    border-radius: 1rem 1rem 0 0;
}

.stats-info {
    margin: 0 1.25rem;
    text-align: center;
}

.stats-info h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    color: hsl(0, 0%, 100%);
    margin-top: 2rem;
}

#h1-accent {
    color: hsl(277, 64%, 61%);
}

.stats-info p {
    margin: 1rem 0 2rem 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
}

.stats-content ul {
    list-style-type: none;
    padding-left: 0;
}

.li-header {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.5rem;
}

.li-text {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75em;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2rem;
    letter-spacing: 0.2em;
}

@media screen and (min-width: 1080px) {
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        border-radius: 1rem;
        max-width: 1080px;
        min-width: 446px;
    }

    picture {
        border-radius: 0 1rem 1rem 0;
        max-width: 100%;
        min-width: 50%;
    }

    picture img {
        border-radius: 0 1rem 1rem 0;
        min-height: 446px;
    }

    .stats-info {
        text-align: left;
        margin: 2rem 6rem 0 3rem;
    }

    .stats-info h1 {
        font-size: 2.25em;
    }

    .stats-info p {
        margin: 2rem 0 2.5rem 0;
    }

    .stats-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

